---
import '../styles/global.css'
import Nav from '../components/Nav.astro'

type Props = {
  title?: string
  description?: string
}

const { title, description } = Astro.props
const siteTitle = 'weiranzhang.com'
const pageTitle = title ? `${title} | ${siteTitle}` : siteTitle
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    {description ? <meta name="description" content={description} /> : null}

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#F9C48B" />
    <meta name="msapplication-TileImage" content="/mstile-150x150.png" />
    <meta name="theme-color" content="#F9C48B" />

    <script is:inline>
      const dnt =
        navigator.doNotTrack === '1' ||
        window.doNotTrack === '1' ||
        navigator.msDoNotTrack === '1'

      if (!dnt) {
        const s = document.createElement('script')
        s.async = true
        s.src = 'https://www.googletagmanager.com/gtag/js?id=UA-119965457-1'
        document.head.appendChild(s)

        window.dataLayer = window.dataLayer || []
        function gtag() {
          dataLayer.push(arguments)
        }
        gtag('js', new Date())
        gtag('config', 'UA-119965457-1', { anonymize_ip: true })
      }
    </script>
  </head>
  <body>
    <header class="header">
      <h3>
        <a href="/">
          ⌘<br />{siteTitle}
        </a>
      </h3>
      <Nav />
    </header>
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style>
  .header,
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    padding: 2.5rem 1.25rem;
  }

  .header {
    padding-bottom: 0.8333333rem;
  }

  h3 {
    margin-top: 0;
    text-align: center;
  }

  h3 a {
    text-decoration: none;
    color: inherit;
  }
</style>
